.sansNom {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contenders__circle {

    display: flex;
    height: 100px;
    width: 100px;
    margin-right: 40px;
    border-radius: 50%;
    transition: 0.2s;
    
  }

.contenders__circle:hover {
    transform: scale(1.1);
    opacity: 0.4;
}


.score_onHover {
    color: white;
    padding: 5px;
    background: black;
    border-radius: 10%;
    font-weight: thick;
    position: absolute;
    top: 0px;
    right: 0px;
    user-select: none;
}