.contenders__wrapper {    
    display: flex;
    padding: 5px;
    margin-left: 10px;
    overflow-x: scroll;
}

.contenders__circle {
    display: flex;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    background-color: #bbb;
    border-radius: 50%;
    transition: 0.2s;
  }

.contenders__circle:hover {
    transform: scale(1.1);
}

