.contenders__wrapper {
  display: flex;
  padding: 5px;
  margin-top: 0;
  margin-left: 10px;
  overflow-x: scroll;
  margin-top: -40px;
}

.contenders__title {
  position: relative;
  padding: 5px;
  margin-left: 10px;
  font-size: 3em;
  margin-top: 0;
}

.contenders__title, h3 {
  background-color: white;
  padding-right: 0.5em;
  width: fit-content;
  margin-bottom: 10px;
}

.contenders__hr__top {
  position: absolute;
  width: 87%;
  margin-left: 13%;
  margin-top: 35px;
}


::-webkit-scrollbar{
  display: none;
}