.card {
    width: 500px;
    height: 500px;
    background-color: beige;
}

.card {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.card-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.title {
    width: 100%;
    background-color: grey;
}

.card-artist {
    width: 10%;
    height:60%
}

.user-interaction {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}

.logo {
    margin : 0 1em;
}