.card {    
    background-color: grey;
}

.card {
    width: 100%;
    height : auto;
    display: flex;
    flex-direction: column;
}

.card-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-color : grey;
}

.title {
    background-color: grey;
}

.card-artist {
    width: 4em;
    height : 4em;
    margin: 15px;
    border-radius: 50%;
}

.card-work {
    margin: 15px 0;

}

.user-interaction {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}

.logo {
    margin: 0 1em;
}