.card {
  height: 100%;
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.card-artist {
  width: 4em;
  height: 4em;
  margin: 15px;
  border-radius: 50%;
}

.card-work {
  margin: 15px 0;
}

.user-interaction {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

.logo {
  margin: 0 1em;
}

.card-container img {
  width: 20%;
}

.card-container {
  width: 40%;
  height: 100%;
  margin: 1em;
  background-color: yellow;
}
