.right-card-header {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  align-items: center;
}

.card-artist {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 1em;
}

.card-work {
  display: flex;
  justify-content: center;
  width: 100%;
}

.right-user-interaction {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  height: 100%;
}

.logo {
  margin: 1em;
}

.card-container-right img {
  max-width: 100%;
  max-height: 95%;
  object-fit: contain;
  -webkit-box-shadow: -6px 9px 27px -12px rgba(46, 46, 46, 1);
  -moz-box-shadow: -6px 9px 27px -12px rgba(46, 46, 46, 1);
  box-shadow: -6px 9px 27px -12px rgba(46, 46, 46, 1);
}

.card-container-right {
  width: 40%;
  margin: 1em;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 1em 0;
  -webkit-box-shadow: -10px 9px 27px -12px rgba(46, 46, 46, 1);
  -moz-box-shadow: -10px 9px 27px -12px rgba(46, 46, 46, 1);
  box-shadow: -10px 9px 27px -12px rgba(46, 46, 46, 1);
}

.card-title {
  margin-top: 10px;
}