.contender {
    background-color: yellow;
}


.battles-wrapper{
    display: flex;
    background-color: blue;
    justify-content: space-between;
    height: max-content;
}

.battles-container{
    height: 100%;
}