.battles-wrapper {
  display: flex;
  justify-content: space-around;
  height: max-content;
}

.battles-container {
  height: 100%;
}

.timer {
  padding-left: 15px;
  margin-left: 48%;
  font-size: 65px;
  font-weight: bold;
}

.versus {
  display: flex;
  width: 25%;
}

.icon-central {
  width: 30%;
  height: 20%;
  margin-right: auto;
  margin-left:auto;
  margin-top: 40%;
}