.battles-wrapper {
  display: flex;

  justify-content: space-between;
  height: max-content;
}

.battles-container {
  height: 100%;
}

.timer {
  padding-left: 15px;
}

.versus {
  display: flex;
  align-items: center;
}
.icon-central {

}
