.header__container {
  background-color: white;
  padding: 0;
  margin: 0;
}

#first__title {
  font-size: 2em;
  margin-top: 10px;
  padding-left: 15px;
}

#img__title {
  width: 60px;
  height: auto;
  padding-left: 20px;
}

.and__header__container {
  color: #851D14;
}