nav {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  border-top: 1px solid;
  border-color: darkgrey;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
  text-transform: uppercase;
}

li:hover {
  color: #851D14;
}

.nav-items {
  transition: 0.2s ease-out;
}

.nav-items:hover {
  transform: scale(1.2)
}