nav {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
  text-transform: uppercase;
}

li:hover {
  color: darkviolet;
}
